<header>
    <div class="header-left">
        <div class="profile-section">
            <div class="profile-picture">
                <i class="pi pi-user"></i>
            </div>
            <div class="user-info">
                <span class="username">John Anderson</span>
                <span class="user-role">Administrator</span>
            </div>
        </div>
    </div>
    
    <div class="header-center">
        <h1>Student IS</h1>
    </div>
    
    <div class="header-right">
        <!-- Space for future navigation items -->
    </div>
</header>
